/* font styles */
.font-karla {
    font-family: 'Karla', sans-serif;
}
.font-lato {
    font-family: 'Lato', sans-serif;
}

/* web scroll bar */
body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 100vw;
    margin-block: 0.5rem;
}

body::-webkit-scrollbar-thumb {
    background-color: #5D432A;
    border-radius: 100vw;
    border: 0.15rem solid white;
}

/* hamburger menu button */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}
  
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
}
  
.hamburger-middle {
    transform: translateY(7px);
}
  
.hamburger-bottom {
    transform: translateY(14px);
}
  
.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}
  
.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}
  
.open .hamburger-middle {
    display: none;
}
  
.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* animations */
.fade-in {
    opacity: 0;
    animation: fade-in 0.3s ease-in forwards;
}
  
@keyframes fade-in {
    100% {
      opacity: 1;
    }
}

.fade-out {
    animation: fade-out 0.3s ease-out forwards;
}
  
@keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

/* hero section background images */
.home-page-hero-background {
    background: url(../asset/images/home_page_hero.jpg) center/cover no-repeat;
}

.new-items-hero-background {
    background: url(../asset/images/new_items_hero.jpg) center/cover no-repeat;
    position: relative;
    isolation: isolate;
}

.new-items-hero-background::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: #1B1A17;
    opacity: 10%;
}

.best-sellers-hero-background {
    background: url(../asset/images/best_sellers_hero.jpg) center/cover no-repeat;
    position: relative;
    isolation: isolate;
}

.best-sellers-hero-background::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: #1B1A17;
    opacity: 10%;
}

/* wishlist button */
.wishlist-btn {
    cursor: pointer;
}
.wishlist-btn:hover .wishlist-btn-icon {
    color: #FF0000;
}

